<h1>Search Results For: <%= @facade.search_params %></h1>
<div id="results-count"><%= @facade.count %> results found.</div>
<ul id="results">
  <% @facade.foods.each do |food| %>
    <li>
      <h3><%= food.description %></h3>
      <p>Brand Owner: <%= food.brand_owner %></p>
      <p>Ingredients: <%= food.ingredients.nil? || food.ingredients == "" ? "None" : food.ingredients %></p>
      <p>GTIN/UPC code: <%= food.gtin_upc %></p>
    </li>
  <% end %>
</ul>